{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Cristal - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" method="POST">
      {% csrf_token %}
      <div class="text-center mb-0">
        <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <div>
          <img src="{% static 'img/cristal-logo.png' %}" alt="" width="200px" height="200px">
        </div>
        {% if messages %}
        <div>
            {% for message in messages %}
              {% if message.tags == "success" %}
                <div class="alert alert-{{message.tags}}">
                  {{message}}
                </div>
              {% else %}
                <div class="alert alert-danger">
                  {{message}}
                </div>
              {% endif %}
            {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label>Usuário</label>
        {% render_field form.username class="form-control" %}
        {% for error in form.username.errors %}
            <span class="help-inline text-danger">{{error}}</span>
        {% endfor %}
      </div>

      <div class="form-group">
        <label>Senha</label>
        {% render_field form.password class="form-control" %}
        {% for error in form.password.errors %}
            <span class="help-inline text-danger">{{error}}</span>
        {% endfor %}
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <hr>
      <!-- <div class="text-center">
          <a class="small" href="#">Esqueceu a senha?</a>
      </div> -->
      <div class="text-center">
          <a class="small" href="{% url 'account:register' %}">Cadastre-se!</a>
      </div>
      <p class="mt-5 mb-3 text-muted text-center"><span>Copyright &copy; Maiury S. Garcia 2022</span></p>
    </form>
  </body>
</html>

