{% extends 'base.html' %}
{% load widget_tweaks %}

{% block style %}
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <button type="button" class="btn" onclick="window.history.back();" title="Voltar">
                <i class="fas fa-angle-left fa-2x"></i>
            </button>
            Nova Senha
        </h1>
    </div>
    
    <!-- Content Row -->
    <div class="container-fluid">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label>Senha Antiga <span class="text-danger">*</span></label>
                {% render_field form.old_password class="form-control" %}
                {% for error in form.old_password.errors %}
                    <span class="help-inline text-danger">{{error}}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Nova Senha <span class="text-danger">*</span></label>
                {% render_field form.new_password1 class="form-control" %}
                {% for error in form.new_password1.errors %}
                    <span class="help-inline text-danger">{{error}}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Confirmar Senha <span class="text-danger">*</span></label>
                {% render_field form.new_password2 class="form-control" %}
                {% for error in form.new_password2.errors %}
                    <span class="help-inline text-danger">{{error}}</span>
                {% endfor %}
                <div style="text-align: right;">
                    <span class="text-danger small">campos obrigatórios *</span>
                </div>
            </div>
            <div class="form-group" style="text-align: right;">
                <input type="submit" class="btn btn-primary" value="Alterar">
            </div>
        </form>
    </div>
    <!-- End Content Row -->
{% endblock %}

{% block scripts %}
{% endblock %}