{% extends 'base.html' %}
{% load widget_tweaks %}

{% block style %}
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            <button type="button" class="btn" onclick="window.history.back();" title="Voltar">
                <i class="fas fa-angle-left fa-2x"></i>
            </button>
            Entrada de produto ao estoque
        </h1>
    </div>
    
    <!-- Content Row -->
    <div class="container-fluid">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Produto</label>
                    {% render_field form.product class="form-control" %}
                    {% for error in form.product.errors %}
                        <span class="help-inline text-danger">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-4">
                    <label>Quantidade</label>
                    {% render_field form.quantity class="form-control" %}
                    {% for error in form.quantity.errors %}
                        <span class="help-inline text-danger">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-4">
                    <label>Data de Validade</label>
                    {% render_field form.expiration_date class="form-control" %}
                    {% for error in form.expiration_date.errors %}
                        <span class="help-inline text-danger">{{error}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group" style="text-align: right;">
                <input type="submit" class="btn btn-primary" value="Adicionar">
            </div>
        </form>
    </div>
    <!-- End Content Row -->
{% endblock %}